<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>liveid_001</key>
	<string>http://wvideo.spriteapp.cn/video/2016/0328/56f8ec01d9bfe_wpd.mp4</string>
	<key>liveid_002</key>
	<string>http://baobab.wdjcdn.com/1456117847747a_x264.mp4</string>
	<key>liveid_003</key>
	<string>http://baobab.wdjcdn.com/14525705791193.mp4</string>
	<key>liveid_004</key>
	<string>http://baobab.wdjcdn.com/1456459181808howtoloseweight_x264.mp4</string>
	<key>liveid_005</key>
	<string>http://baobab.wdjcdn.com/1455968234865481297704.mp4</string>
	<key>liveid_006</key>
	<string>http://baobab.wdjcdn.com/1455782903700jy.mp4</string>
	<key>liveid_007</key>
	<string>http://baobab.wdjcdn.com/14564977406580.mp4</string>
	<key>liveid_008</key>
	<string>http://baobab.wdjcdn.com/1456316686552The.mp4</string>
	<key>liveid_009</key>
	<string>http://baobab.wdjcdn.com/1456480115661mtl.mp4</string>
	<key>liveid_010</key>
	<string>http://baobab.wdjcdn.com/1456665467509qingshu.mp4</string>
	<key>liveid_011</key>
	<string>http://baobab.wdjcdn.com/1455614108256t(2).mp4</string>
	<key>liveid_012</key>
	<string>http://baobab.wdjcdn.com/1456317490140jiyiyuetai_x264.mp4</string>
	<key>liveid_013</key>
	<string>http://baobab.wdjcdn.com/1455888619273255747085_x264.mp4</string>
	<key>liveid_014</key>
	<string>http://baobab.wdjcdn.com/1456734464766B(13).mp4</string>
	<key>liveid_015</key>
	<string>http://baobab.wdjcdn.com/1456653443902B.mp4</string>
	<key>liveid_016</key>
	<string>http://baobab.wdjcdn.com/1456231710844S(24).mp4</string>
</dict>
</plist>
